.Body-Main-Title {
    background: rgb(127,125,190);
    background: linear-gradient(-90deg, rgba(127,125,190,1) 0%, rgba(57,111,185,1) 52%, rgba(26,98,200,1) 99%);
}

.Cloud-Leaks-About-title-main {
    position: absolute;
    right: 1200px;
    top: 100px;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 70px;
}

.About-Cloud-Leaks-About {
    position: absolute;
    right: 780px;
    top: 300px;
    width: 1000px;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    border-radius: 10px;
}
.Nav {
    background-color: black;
    position: absolute;
}

.Topbar {
    margin: 30px auto;
    position: relative;
    width: 590px;
    height: 50px;
    background: linear-gradient(-90deg, rgba(137,14,221,1) 0%, rgba(76,6,177,1) 52%, rgba(14,59,122,1) 99%);
    font-size: 0;
    border-radius: 10px; 
}

.Topbar a {
   line-height: 50px;
   height: 100%;
   font-size: 15px;
   display: inline-block;
   position: relative; 
   z-index: 1;
   text-decoration: none;
   text-transform: uppercase;
   text-align: center;
   color: #fff;
   font-family: 'Inter', sans-serif;
   cursor: pointer;
} 

.Topbar a:nth-child(1) {
    width: 100px;
}
.Topbar a:nth-child(2) {
    width: 100px;
}
.Topbar a:nth-child(3) {
    width: 150px;
}
.Topbar a:nth-child(4) {
    width: 120px;
}

.Topbar {
    position: absolute;
    top: 0px;
    right: 1900px;
}

.Topbar .home, a:nth-child(4):hover{
    color: rgba(255, 255, 255, 1);
    box-shadow: 50 20px 40px rgba(145, 92, 182, .4);
    background-color: #753ab9;
    border-radius: 10px;
}

.Topbar .home, a:nth-child(3):hover{
    color: rgba(255, 255, 255, 1);
    box-shadow: 50 20px 40px rgba(145, 92, 182, .4);
    background-color: #753ab9;
    border-radius: 10px;
}

.Topbar .home, a:nth-child(2):hover{
    color: rgba(255, 255, 255, 1);
    box-shadow: 50 20px 40px rgba(145, 92, 182, .4);
    background-color: #753ab9;
    border-radius: 10px;
}

.Topbar .home, a:nth-child(1):hover{
    color: rgba(255, 255, 255, 1);
    box-shadow: 50 20px 40px rgba(145, 92, 182, .4);
    background-color: #753ab9;
    border-radius: 10px;
}

